<div class="container-fluid apis-bg-color mt-5">
    <div class="row p-3 d-flex align-items-start">
        <div class="col-md-4">
            <span class="me-3">User ID:</span><input [(ngModel)] = "id" type="text" class="bg-white p-1 w-75" (input) = "setId()" required>
            <div *ngIf="!id.trim()" class="">
              <span class="text-danger">User ID cannot be blank.</span>
          </div>

        </div>
        <div class="col-md-8">
            <div class="errormsg border bg-white p-2">
              <span *ngIf="errorMsg" class="errormsg text-danger p-2">{{errorMsg}}</span>
            </div>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-md-4">
            <div class="d-flex flex-column p-4">
                <button id = "comments" class = "btn btn-secondary w-50 mb-2 ms-4" type="button" (click) = "getbtn($event)">Comments</button>
                <button id = "albums" class = "btn btn-secondary w-50 mb-2 ms-4" type="button" (click) = "getbtn($event)">Albums</button>
                <button id = "photos" class = "btn btn-secondary w-50 mb-2 ms-4" type="button" (click) = "getbtn($event)">Photos</button>
                <button id = "todos" class = "btn btn-secondary w-50 ms-4" type="button" (click) = "getbtn($event)">Todos</button>
            </div>
            <div class="mt-3 d-flex justify-content-between p-3">
                <button id = "deletebtn" class="w-25 btn crud" type="button" (click) = "operations($event)">Delete</button>
                <button id = "updatebtn" class="w-25 btn crud" type="button" (click) = "operations($event)">Update</button>
                <button id = "createbtn" class="w-25 btn crud" type="button" (click) = "operations($event)">Create</button>
            </div>
            <div class="d-flex align-items-center">
              <span class="me-3">Input Body :-</span><input [(ngModel)] = "id" type="text" class="form-control bg-white p-1 w-50">
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="response-data border bg-white p-2">Response Data

                <div *ngIf = "btn_value == 'comments'">

                    <div *ngFor = "let item of info | keyvalue">
                        <table class="table">
                            <tr>
                                <th>{{item.key}}</th>
                            </tr>
                            <tr>
                                <td>{{item.value}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div>{{info.id}}</div>
                    <div>{{info.name}}</div>
                    <div>{{info.email}}</div>
                    <div>{{info.postid}}</div>
                    <div>{{info.body}}</div> -->
                </div>

                <div *ngIf = "btn_value == 'albums'">
                    <div *ngFor = "let item of info | keyvalue">
                        <table class="table">
                            <tr>
                                <th>{{item.key}}</th>
                            </tr>
                            <tr>
                                <td>{{item.value}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div>{{info.userid}}</div>
                    <div>{{info.id}}</div>
                    <div>{{info.title}}</div> -->
                </div>

                <div *ngIf = "btn_value == 'photos'">
                    <div *ngFor = "let item of info | keyvalue">
                        <table class="table">
                            <tr>
                                <th>{{item.key}}</th>
                            </tr>
                            <tr>
                                <td>{{item.value}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div>{{info.albumId}}</div>
                    <div>{{info.id}}</div>
                    <div>{{info.title}}</div> -->
                    <div><img src="{{info.url}}" alt=""></div>
                </div>

                <div *ngIf = "btn_value == 'todos'">
                    <div *ngFor = "let item of info | keyvalue">
                        <table class="table">
                            <tr>
                                <th>{{item.key}}</th>
                            </tr>
                            <tr>
                                <td>{{item.value}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div>{{info.id}}</div>
                    <div>{{info.title}}</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
